/* CSS RESET */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* FONT */

@font-face {
  font-family: "mono";
  src: url("/src/fonts/MonaspaceNeon-SemiWideRegular.otf");
}

/* MAIN PAGE index.html*/

body {
  background-color: #44475a;
}

/* CONTAINER */

/* .container{
  position: relative;
  display: flex;
  width: 1000px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
  margin-top: 8px;
} */

/* Header */

.header {
  overflow: hidden;
  background-color: #282a36;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: rgb(248, 248, 248);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  margin-right: 20px;
  font-family: mono;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a.active {
  background-color: #44475a;
  color: white;
}

.header a:hover {
  background-color: #44475a;
}

.header-right {
  float: right;
}

/* Flexbox */

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  padding: 90px;
}

.flex-container>button {
  background-color: #282a36;
  color: white;
  width: 300px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  order: 5;
}

.flex-container button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /* margin: 4px 2px; */
  cursor: pointer;
  transition: 0.2s;
}

.flex-container button a {
  color: #ffffff;
  text-decoration: none;
}

.flex-container button:hover {
  background-color: #6272a4;
}

/* Footer */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  background-color: #282a36;
  padding: 20px 10px;
  text-align: center;
}

.footer-right a {
  display: inline;
  margin: 0 auto;
  font-size: 20px;
  text-decoration: none;
  color: #ffffff;
  font-family: mono;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  margin-right: 20px;
}

.footer-right a:hover {
  background-color: #44475a;
}

/* ABOUT page */

.about{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  padding: 90px;
}

.about p{
  color: #ffffff;
  font-family: mono;
  background-color: #282a36;
  color: white;
  width: 100%;
  margin: 10px;
  text-align: center;
  line-height: 45px;
  font-size: 15px;
  order: 5;
}

/* ADAPTIVE! */

/* Header */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }
}

/* Flexbox */

@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    top: 160%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 90px;
  }
}